* {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 25% 136%;
}

.header {
  box-shadow: 1% grey;
  grid-column: 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 50% 50%;
  box-shadow: 0 4px 10px -2px gray;
}

.header > .top-portion {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 105% 59%;
  align-items: center;
}

.top-portion > .top-left {
  display: flex;
  height: 35px;
}

.search-logo {
  height: 25px;
  width: 25px;
  align-self: center;
  margin-right: 20px;
  color: grey;
}

.top-portion > .top-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
}

input {
  background-color: #d1d5db;
  border-radius: 25px;
  width: 500px;
  border: none;
}

.brand-logo {
  height: 40px;
  width: 40px;
}

.noti-bell,
.sidebar-section-logos {
  height: 25px;
  width: 25px;
}

.account {
  font-size: 20px;
  font-weight: 600;
}

.header > .bottom-portion {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 100% 56%;
}

.bottom-portion > .bottom-left {
  display: flex;
  align-items: center;
}

div.account-intro > p {
  font-size: 14px;
  font-weight: 700;
}

.bottom-left > .account-intro:last-child {
  font-size: 20px;
}

.bottom-portion > .bottom-left > .brand-logo {
  grid-column: 1;
  height: 70px;
  width: 70px;
  margin-right: 15px;
}

.bottom-portion > .bottom-right {
  display: flex;
  align-items: center;
}

.bottom-right > .header-buttons {
  grid-column: 2;
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.header-buttons > button {
  background-color: #0284c7;
  color: white;
  font-weight: 700;
  height: 40px;
  width: 80px;
  border-radius: 20px;
  border: none;
}

.top-portion,
.bottom-portion {
  margin-left: 35px;
}

.sidebar {
  background-color: #0284c7;
  color: white;
  grid-column: 1;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 12% 35% 20%;
  padding-left: 25px;
}

.sidebar-section-logos {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  margin-right: 30px;
  margin-bottom: 20px;
}

.sidebar-middle,
.sidebar-bottom {
  display: flex;
}

.sidebar-middle > div:last-child,
.sidebar-bottom > div:last-child {
  font-size: 20px;
  font-weight: 600;
}

.dashboard {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  margin-top: 15px;
  margin-left: -5px;
}

.logo-container {
  display: grid;
  grid-template-columns: 17px 17px;
  gap: 4px;
  margin-right: 20px;
}

.logo-container > div {
  background-color: white;
}

.box-1 {
  grid-row: 1 / 3;
  height: 22px;
}

.box-2 {
  grid-column: 2 / 3;
  height: 13px;
}

.box-3 {
  grid-column: 1 / 2;
  height: 13px;
}

.box-4 {
  height: 22px;
  margin-top: -9px;
  grid-column: 2 / 3;
}

.middle {
  grid-row: 2 / 3;
  /* margin-top: -150px; */
}

.bottom {
  grid-row: 3 / 4;
  /* margin-top: -175px; */
}

.main-content {
  grid-column: 2;
  grid-row: 2;
}
